@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Spline+Sans:wght@300;600&display=swap');


:root{
  /* --theme-one:#fee265;
  --theme-two:#0b6b96; */
  --theme-one:#0e144f;
  --theme-1light:#111961;
  --theme-two:#416a87;
  --text-color2:#c4d4c8;
  --text-color:#f6f0da;

  --lingo-1:#235390;
  --lingo-1dark:#042c60;
  --lingo-1mid:#204b82;
  --lingo-2:#58cc02;
  --lingo-2dark:#58a700;
  --lingo-2mid:#61e002
}

a{
  text-decoration:none;
}

body{ 
  font-family: 'Noto Sans', sans-serif;
  font-weight:700
}

.home-nav{
  position: sticky;
  background: var(--lingo-1); 

  top:0;
}
.home-nav > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

ul > * {
  float:left;
  margin:0;
  padding-left:1.7vh;
}

.title{
  /* font-size:40px;;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white; */
  position:relative;
  background: linear-gradient(to right, var(--text-color2) 20%, var(--theme-two), 40%, var(--theme-two) 60%, var(--text-color2) 80%);
  background-size: 200% auto;
  color: #000;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
  margin:0px;
}
.title:hover{
  /* animation: shine 2s linear infinite; */
}

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.landing{
  height:75vh;
  /* background:#111961 */
  background:var(--lingo-1)
  /* background:var(--theme-one) */
  /* background:#e6ccab */
}

.about{
  height:55vh;

}

.home{
  margin: 0;
  color:var(--text-color);
}

.button {
  border:none;
  margin:10px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:30px;
  border:2px solid black;
  border-bottom:5px solid black;
  cursor:pointer;
}

.exist-acc{
  /* position:absolute; */
  color:white;
  background-color:var(--lingo-1);
  border-color:var(--lingo-1dark);
}
.exist-acc:hover{
  /* background-color:var(--theme-two) */
  /* background-color:#0a0e38 */
  background-color:var(--lingo-1mid)
}
.exist-acc:active{
  /* position:fixed; */
  margin-top:13px;
  border-bottom:2px solid var(--lingo-1dark);
}

.new-acc{
  /* position:relative; */
  color:white;
  background-color:var(--lingo-2);
  border-color:var(--lingo-2dark)
}
.new-acc:hover{
  background-color:var(--lingo-2mid);
}
.new-acc:active{
  margin-top:13px;
  border-bottom:2px solid var(--lingo-2dark)
}

.signup{
  height:40vh;
  display: flex;
}
.signup > * {
  max-height: 50px;
}


.lesson-plan{
  position:relative;
  top:0px;
}

.lesson-header{
  height:5vh;
}
.cards{
  height:80vh;
  overflow:scroll;
}


.user-controls{
  position:absolute;
  height:15vh;
  width:100%;
  top: 85vh;
  bottom: 0;
  border-top:1px solid slategray;
  overflow:hidden;
}
body{
  top:0px;
}

.kana-options{
  display:grid;
  grid-template-rows:repeat(3, 1fr);
  max-width:30vw;
  /* border:1px solid crimson; */
}
.kana-match-image{
  max-width:40vw;
}
.kana-match-grid{
  position:relative;
  align-content:center;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  width:90vw;
  left:50%;
  transform:translateX(-50%);
  /* transform:translateY(-50%); */
  margin-top:15vh;
}
.kana-match-grid > h1, img{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:7rem;
  margin:0;
  border:5px dotted var(--lingo-1mid);
  /* border-style:; */
  border-radius:20%;
  margin-right:10px;
  width:30vw;
}
/* :is */
.option{
  position:static;
  display:flex;
  align-items: center;
  border:2px solid var(--lingo-1);
  border-bottom:5px solid var(--lingo-1);
  border-radius:20px;
  margin-bottom:5px;
  width:40vw;
  height:55px;
  /* height:0vh; */
  /* height:7vh; */
  cursor:pointer;
}
.option:active{
  border-bottom:2px solid var(--lingo-1);
  margin-top:3px;
}


.option-val > * {
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0px;
  margin-left:7px;
  border:1px solid var(--lingo-1);
  border-radius:30%;
  padding:5px;
  width:20px;
  height:20px;
}
.pair-match{
  max-height:25vh;
  display:grid;
  grid-template-rows: repeat(5,1fr);
  gap:10px;
}
.pair-match > *{
  margin:0;
  border:1px solid var(--lingo-1);
  font-size:1.5rem;
  width:15vw;


  display:flex;
  align-items:center;
  justify-content:center;
  margin:0px;
  margin-left:7px;
  border:1px solid var(--lingo-1);
  border-radius:30%;
  padding:5px;
  width:40px;
  height:40px;
}

.module-title{
  cursor:pointer;
}

.selected{
  background-color:var(--lingo-1);
  /* cursor:not-allowed; */
  pointer-events:none;
}
.questions > *, .answers >*{
  cursor:pointer;
}

.control-correct{
  background-color: green;
}
.control-incorrect{
  background-color: red;
}

.hide{
  display:none;
}