:root{
  --theme-one:#A783EE;
  --theme-two:#83EEA7;
}

a{
  text-decoration:none;
}
body { 
  /* background: #333; 
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.home-nav{
  /* position:-moz-sticky; */
  position: sticky;
  background: #333; 
  top:0;
}

.title{
  position:relative;
  margin:0;
  padding:1.7vh;
  background: linear-gradient(to right, var(--theme-one) 20%, var(--theme-two) 40%, var(--theme-two) 60%, var(--theme-one) 80%);
  background-size: 200% auto;
  
  color: #000;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  /* animation: shine 5s linear infinite; */

}
.title:hover{
  animation:shine 2s linear infinite;
}
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

h2{
  margin-top:200vh;
}
