@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Spline+Sans:wght@300;600&display=swap');


:root{
  /* --theme-one:#fee265;
  --theme-two:#0b6b96; */
  --theme-one:#0e144f;
  --theme-1light:#111961;
  --theme-two:#416a87;
  --text-color2:#c4d4c8;
  --text-color:#f6f0da;

  --lingo-1:#235390;
  --lingo-1dark:#042c60;
  --lingo-1mid:#204b82;
  --lingo-2:#58cc02;
  --lingo-2dark:#58a700;
  --lingo-2mid:#61e002
}

a{
  text-decoration:none;
}

body{ 
  font-family: 'Noto Sans', sans-serif;
  font-weight:700
}

.home-nav{
  position: sticky;
  background: var(--lingo-1); 

  top:0;
}
.home-nav > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

ul > * {
  float:left;
  margin:0;
  padding-left:1.7vh;
}

.title{
  /* font-size:40px;;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white; */
  position:relative;
  background: linear-gradient(to right, var(--text-color2) 20%, var(--theme-two), 40%, var(--theme-two) 60%, var(--text-color2) 80%);
  background-size: 200% auto;
  color: #000;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
  margin:0px;
}
.title:hover{
  /* animation: shine 2s linear infinite; */
}

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.landing{
  height:75vh;
  background:var(--lingo-1)
}

.about{
  height:55vh;

}

.home{
  margin: 0;
  color:var(--text-color);
}

.button {
  border:none;
  margin:10px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:30px;
  border:2px solid black;
  border-bottom:5px solid black;
  cursor:pointer;
}

.exist-acc{
  margin-left:20px;
  min-width:250px;
  color:white;
  background-color:var(--lingo-1);
  border-color:var(--lingo-1dark);
}
.exist-acc:hover{
  /* background-color:var(--theme-two) */
  /* background-color:#0a0e38 */
  background-color:var(--lingo-1mid)
}
.exist-acc:active{
  margin-top:3px;
  border-bottom:2px solid var(--lingo-1dark);
}

.new-acc{
  color:white;
  background-color:var(--lingo-2);
  border-color:var(--lingo-2dark)
}
.new-acc:hover{
  background-color:var(--lingo-2mid);
}
.new-acc:active{
  margin-top:3px;
  border-bottom:2px solid var(--lingo-2dark)
}

.signup{
  /* display: flex; */
  position:relative;
  top:40%;
  left:60%;
  min-height:10px;
 
}
.signup > div > * {
  
  margin:0;
  margin-bottom:10px;
  margin-left:15px;
  max-height: 50px;
}
.signup-buttons{
  max-width: 250px;
  display:flex;
  justify-content: center;
}
.lesson-plan{
  position:relative;
  top:0px;
}

.lesson-header{
  height:5vh;
}
.cards{
  height:80vh;
  overflow:scroll;
}

.user-controls{
  position:absolute;
  height:15vh;
  width:100%;
  top: 85vh;
  bottom: 0;
  border-top:1px solid slategray;
  overflow:hidden;
}
.user-controls > * {
  display:flex;
  position:relative;
  left:70%;
  top:50%;
  transform: translateY(-50%);
  padding:12px;
  padding-left:20px;
  padding-right:20px;
  background:var(--lingo-2);
  border:4px solid var(--lingo-2dark);
  border-bottom:9px solid var(--lingo-2dark);
  border-radius:20px;
  color:var(--text-color);
  font-size:clamp(1rem, 10vw, 1.3rem); 
  font-weight:600;
}
.user-controls > button:active {
  margin-top:3px;
  border-bottom:4px solid var(--lingo-2dark)
}



body{
  top:0px;
}

.kana-options{
  display:grid;
  grid-template-rows:repeat(3, 1fr);
  max-width:30vw;
}
.kana-match-image{
  max-width:40vw;
}
.kana-match-grid{
  position:relative;
  align-content:center;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  width:90vw;
  left:50%;
  transform:translateX(-50%);
  margin-top:15vh;
}
.kana-match-grid > h1, img{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  /* font-size:10vw; */
  font-size: clamp(2rem, 10vw, 4rem); 
  margin:0;
  border:5px dotted var(--lingo-1mid);
  border-radius:20%;
  margin-right:10px;
  /* width:30vw; */
  width:fit-content;
  padding:20px;
  white-space:nowrap;
  overflow:hidden;
  height:fit-content;
  top:50%;
  left:60%;
  transform:translate(-50%, -50%);
  float:left;
}
.kana-match-grid > img {
  width:100px;
  /* float:left; */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* :is */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.option{
  position:static;
  display:flex;
  align-items: center;
  border:2px solid var(--lingo-1);
  border-bottom:5px solid var(--lingo-1);
  border-radius:20px;
  margin-bottom:5px;
  width:30vw;
  height:55px;
  cursor:pointer;
}
.option:active{
  border-bottom:2px solid var(--lingo-1);
  margin-top:3px;
  margin-bottom:2px;
}

.option-val > * {
  display:flex;
  position:relative;
  align-items:center;
  justify-content:center;
  margin:0px;
  margin-left:7px;
  border:1px solid var(--lingo-1);
  border-radius:20px;
  padding:5px;
  width:fit-content;
  height:35px;
}
.option-val > img {
  margin:0;
  max-width:35px;
  height:35px;

}

.option-val{
  position:relative;
  top:50%;
  transform: translateY(-80%);
  margin-left:7px;
}



.pair-match{
  max-height:25vh;
  width:fit-content;
  display:grid;
  grid-template-rows: repeat(5,1fr);
  gap:10px;
}

.pair-match > *{
  margin:0;
  border:1px solid var(--lingo-1);
  font-size:1.5rem;
  width:15vw;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0px;
  margin-left:7px;
  border:1px solid var(--lingo-1);
  border-radius:30%;
  padding:12px;
  width:40px;
  height:40px;
}

.module-title{
  cursor:pointer;
}

.selected{
  background-color:var(--lingo-1);
  /* cursor:not-allowed; */
  pointer-events:none;
  color:white;
}
.questions > *, .answers >*{
  cursor:pointer;
  border-radius:0px;
}
.questions{
  position:relative;
  left:65%;
  /* transform:translateX(-50%); */
}

.control-correct{
  /* background-color: var(--lingo-1); */
  background-color: var(--lingo-1);
}
.control-incorrect{
  background-color: #DB2F26;
}

.hide{
  display:none;
}

.pair-match > * {
  width:fit-content;
  border-radius:20px;

}

.login-modal > * {
  z-index:999;

}

.modal{
  height:fit-content;
  min-height:300px;
  width:80vw;
  /* border:3px solid var(--text-color2); */
  /* margin:0; */
  /* position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) */
}
.modal::backdrop{
  /* background:green; */
  /* display:none; */
  background-color: darkorange;
  background-image: linear-gradient(
    130deg,#ff7a18,
    #af002d 41.07%,
    #319197 76.05%
  );
}
.about > * {
  margin: 0;
}
.peep{
  position:relative;
  height:0;
  width:0;
  border:0;
  min-height:250px;
  width:clamp(100px, 20vw, 500px);
  z-index:999;
  /* top:0%; */
  left:50%;
  /* float:left; */
}
.listener{
  left:0%;
  top:0%;
  transform:scaleX(-1)
}
.peeps{
  position:relative;
  top:0%;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  width:fit-content;
}
.peeps > * {
  animation: shine 5s linear infinite;
  fill:shine;
}
.speech{
  /* display:hidden; */
  position:relative;
  width:clamp(30px, 10vw, 100px);
  border:0;
  top:30%;
  left:22.5vw;
  padding:0;
  z-index:99999;
}
.container{
  display:inline-flex;
  position:relative;
  width:fit-content;
  top:25%;
  border:1px solid green;
  /* left: */
  /* transform:translateY(-50%) */
}
.container > h3{
  overflow:hidden;
  font-weight:800;
  width:clamp(30px, 10vw, 100px);
  color:var(--text-color);
  font-size:2vw;
  position:relative;
  top:-2.5vh;
  left:9.5vw;
  margin:0;
  z-index:999
}
.progress{
  max-width:80vw;
  min-width:80vw;
}
.progress-info{
  display:inline-block;
  width:90vw;
}
.close-lesson{
  background:none;
  border:0
}
.home-info{
  position:relative;
  display:inline-block;
  width:100vw;
  top:80%;
  left:50%;
  transform:translateX(-40%)
  /* margin-top:80vw; */
}
.home-info > .home-progress{
  position:relative;
  top:30%;
}
.nav-prog  >h3{
  position:relative;
  top:0%;
  width:300px;

}
.nav-prog{
  margin-top:10px;
  margin-bottom:10px;
  border-bottom:1px solid lightgray;
  height:5.5vh;
  
}
.nav-prog > button{
  margin-left:20px;
  border:0;
  color:gray;
  background:none;
}
/* .nav-prog > button:hover{
  color:var(--text-color);
  outline:2px solid var(--theme-two);
  background:shine 2s linear infinite;
  animation: shine 2s linear infinite;
} */